<div>
    {% if content %}
        {% for item in content %}
            <div>
                <img src="{{ request.path }}/media/{{ item.image }}" alt="HTML5 Icon" width="128" height="128">
            </div>
            <span>{{ item.name }}</span> <br />
            <span>{{ item.comment }}</span>  <br />
            <span>{{ item.id_map_coordinate }}</span>  <br />
            <span>{{ item.id_wikiCraftProductType.name }}</span>  <br />
        {% endfor %}

    {% else %}
        <span> No data</span>
    {% endif %}
</div>