{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if wiki_menu %}
            <div class="wiki_type_content_overview">
            <!--<a href="/wiki/items/1/"><div class="wiki_type_item">Items</div></a>-->
            {% for craft in crafts_list %}
                <a class="" href="/wiki/items/{{ craft.id_wikiCraftProductType }}/"><div class="wiki_type_item">{{ craft.name }}</div></a>
            {% endfor %}
            </div>

    {% else %}
        <div>
            <a class="d-block button" href="{% url 'items_new_record' id_type=wiki_content_type %}">Nový item</a>
        {% if not wiki_content %}
                <div class="wiki_record_row">No records</div>
        {% else %}
            <div class="items_left_content">
            {% for wiki_record in wiki_content %}
                <div class="wiki_record_row" id="{{ wiki_record.pk }}" name="{{ wiki_record.pk }}">
                    <div class="wiki_record_name">{{ wiki_record.name }}</div>
                </div>
            {% endfor %}
            </div>

            <div class="items_right_content">
                <div class="items_right_content_fixed">
                    Náhled
                </div>
            </div>
        {% endif %}
        </div>
    {% endif %}

        <script type="text/javascript">
        $(function () {
            $('.wiki_record_row').on('click', function () {
                var record_id = $(this).attr('id');
                $('.ajaxProgress').show();
            $.ajax({
                type:  "POST",
                dataType: "json",
                async: true,
                url: '/wiki/items_preview/',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    record_id: record_id,
                    type_product_id: {{ wiki_content_type }}
                },

                success: function (json) {
                        $('.items_right_content_fixed').html(json.message);
                        $('.ajaxProgress').hide()
                    }
                }
            )
        })
        })

        </script>
{% endblock %}
