{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if not wiki_content %}

            <div class="wiki_type_content_overview">
                <a href="/wiki/items/"><div class="wiki_type_item">Suroviny</div></a>
                <a href="/wiki/blacksmithy/"><div class="wiki_type_item">Kovarstvi</div></a>
                <a href="/wiki/alchemy/"><div class="wiki_type_item">Alchymie</div></a>
                <a href="/wiki/engeneering/"><div class="wiki_type_item">Rezbarstvi</div></a>
                <a href="/wiki/tailoring/"><div class="wiki_type_item">Krejcovstvi</div></a>
            </div>

    {% else %}

            <div class="items_left_content">
                {% for wiki_record in wiki_content %}
                    <div class="wiki_record_row" id="{{ wiki_record.id_wikiItem }}" name="{{ wiki_record.id_wikiCraftProductType.id_wikiCraftProductType }}">
                        <div class="wiki_record_name">Název: {{ wiki_record.name }}</div>
                        {% if  wiki_record.id_map_coordinate %}
                        <div class="wiki_record_coordinates">Koordináty: {{ wiki_record.id_map_coordinate }}</div>
                        {% endif %}
                        <div class="wiki_record_coordinates">Typ: {{  wiki_record.id_wikiCraftProductType.name }}</div>
                    </div>
                {% endfor %}

            </div>

            <div class="items_right_content">
                <div class="items_right_content_fixed">
                    Náhled
                </div>
            </div>

    {% endif %}
        <script type="text/javascript">
        $(function () {
            $('.wiki_record_row').on('click', function () {
                var record_id = $(this).attr('id');
                $('.ajaxProgress').show();
            $.ajax({
                type:  "POST",
                dataType: "json",
                async: true,
                url: '/wiki/items_preview/',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    record_id: record_id
                },

                success: function (json) {
                        $('.items_right_content_fixed').html(json.message);
                        $('.ajaxProgress').hide()
                    }
                }
            )
        })
        })

        </script>
        {% endblock %}
