{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="wiki_record_row">
          {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            <form action="" class="d-grid" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ new_record }}
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock%}