{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="right_block width_100p">

    <!-- alert message -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <div class="board_delete_record"><span class="{{ message.tags }}" ><b>{{ message }}</b></span></div>
            </div>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- block help -->
    {% block records %}
       <div class="float-left width_100p">
            {% include 'block/questionBlock.html' with board_records=board_records %}
       </div>
    {% endblock %}

</div>

<div class="left_block width_100p">

   <!-- block sell buy -->
    {% block records2 %}
        <div class="float-left width_100p">
            {% include 'block/buySellBlock.html' with sellBuy_records=sellBuy_records %}
        </div>
    {% endblock %}

</div>

{% endblock %}
