{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="d-inline-block margin-bottom-20 forum_navbar" >
        <span>></span>
        <a href="{% url 'main_forum' %}">Hlavní stránka fóra</a>
    </div>
    <div class="block">
        {{ popup_window }}
    </div>

    {% if topic_data %}
        {% for topic in topic_data %}
            <div class="topic_block" data-toggle="tooltip" data-placement="right" title="{{ topic.text }}">
                <a href="{{ topic.id_topic }}">
                    <span  data-toggle="tooltip" data-placement="right" title="{{ topic.text }}">{{ topic.name }}</span>
                </a>
                <div class="d-inline-block float-right margin-left-20">
                    <span class=""><b>Odpovědí:</b></span><span class="float-right">{{ topic.count_answers }}</span><br>
                    <span class=""><b>Poslední:</b></span><span class="float-right">{{ topic.last_answers_data.x_created }}</span>
                </div>
                <div class="d-inline-block float-right">
                    <span class=""><b>Autor:</b></span><span class="float-right">{{ topic.x_user }}</span><br>
                    <span class=""><b>Vytvořeno:</b></span><span class="float-right">{{ topic.x_created|date:'H:i j.n Y' }}</span>
                </div>
            </div>
        {% endfor %}
    {% else %}
            No data
    {% endif %}

{% endblock %}