<!-- base.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href=" {% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static 'extension/bootstrap/css/bootstrap.min.css' %}">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="registration middle_block">
                <h1 style="width: 100%; text-align: center; ">{% block head %}{% endblock %}</h1>
                <div style="text-align: center;">
                    {% block content %}{% endblock %}
                </div>

            </div>
        </div>
    </div>
</body>
</html>