{% extends 'base.html' %}

{% block content %}
<div class="width_100p">

    <div class="main_news_record float-left">
        <span class="float-left main_page_block_title">Nejnovější příspěvky</span>
        {% if not newest_records %}
                <strong>Žádné záznamy</strong>
        {% else %}
                <div class="">
                    <table class="width_100p">
                        {% for record in newest_records %}
                                <tr>
                                    <td class="width_35p">{{ record.0 }}</td>
                                    <td class="width_35p">{{ record.1 }}</td>
                                    <td class="width_35p">{{ record.2 | date:'H:i j.n.Y ' }}</td>
                                    <td class="width_35p">{{ record.3 }}</td>
                                </tr>
                        {% endfor %}
                    </table>
                </div>
        {% endif %}
    </div>
    <div class="main_news_record float-right">
        <div class="float-left main_page_block_title">Co připravujeme</div>
        {% if not actual_tasks %}
                <strong>Žádné úkoly</strong>
        {% else %}
            <table class="width_100p">
                {% for task in actual_tasks %}
                    <tr  data-toggle="tooltip" data-placement="top" title="{{ task.description }}">
                        <td class="">{{ task.name }}</td>
                        <td class="float-right">{{ task.complete_percentage }}%</td>
                    </tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>
<!--
        <div class="main_photo_items margin-left-20 width_55p float-left">
            <div class="width_400 height_400 last_image">
                <img class="main_photo">
            </div>
        </div>
        -->
</div>

{% endblock %}
