{% extends 'base.html' %}

{% block content %}
<div class="width_100p">

    <div class="main_news_record float-left height_300">
        <div class="d-inline-block">
            <span class="float-left main_page_block_title">Nejnovější příspěvky</span>
        </div>
        <div class="">
            {% if not newest_records %}
                    <span>
                        <strong>Žádné záznamy</strong>
                    </span>
            {% else %}
                    <table class="width_100p">
                        {% if not newest_records.topic %}
                                No record
                        {% else %}
                             {% for record in newest_records.topic %}
                                    <tr>
                                        <td class="width_55p"><a href="{% url "topic" id_category=record.category.id_category id_topic=record.id_topic %}">{{ record.name }}</a></td>
                                        <td class="width_35p">{{ record.x_created | date:'H:i j.n.Y ' }}</td>
                                        <td class="width_35p">{{ record.x_user.username }}</td>
                                    </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
            {% endif %}
        </div>
    </div>

  <div class="main_news_items_record float-left height_300">
      <div class="d-inline-block">
            <span class="float-left main_page_block_title">Nejnovější položky</span>
        </div>
      <table class="width_100p">
                        <h5 >Items</h5>
                        {% if not newest_records.items %}
                            No record
                        {% else %}
                            {% for items in newest_records.items %}
                                <tr>
                                    <td class="width_55p">{{ items.name }}</td>
                                    <td class="float-right">{{ items.x_user.username }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                    <table class="width_100p">
                        <h5 >Products</h5>
                        {% if not newest_records.products %}
                            No record
                        {% else %}
                             {% for record in newest_records.products %}
                                    <tr>
                                        <td class="width_55p">{{ record.name }}</td>
                                        <td class="float-right">{{ record.x_user.username }}</td>
                                    </tr>
                             {% endfor %}
                        {% endif %}
                    </table>
    </div>

    <div class="main_news_record float-right height_300">
        <div class="d-inline-block">
            <div class="float-left main_page_block_title">Co připravujeme</div>
        </div>
        {% if not actual_tasks %}
             <div class="">
                <strong>Žádné úkoly</strong>
             </div>
        {% else %}
            <table class="width_100p">
                {% for task in actual_tasks %}
                    <tr  data-toggle="tooltip" data-placement="top" title="{{ task.description }}">
                        <td class="">{{ task.name }}</td>
                        <td class="float-right">{{ task.complete_percentage }}%</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
<!--
        <div class="main_photo_items margin-left-20 width_55p float-left">
            <div class="width_400 height_400 last_image">
                <img class="main_photo">
            </div>
        </div>
        -->

</div>

    <div class="width_100p main_news_server_record">
        <div class="main_page_block_title">Novinky</div>
            <div>
                {% if not server_news %}
                        <span>Aktuálě zde nejsou žádné novinky</span>
                {% else %}
                    <!-- DATA Z NOVINEK -->
                {% endif %}
            <hr>
            </div>
    </div>


{% endblock %}
